<header class="header bgi-wrap">

   <div class="header__head flex">
      <div class="header__logo">
         <a target="_blank" href="https://psdfreebies.com/">
            <img src="img/CS.png" alt="Creative Digital logo">
         </a>
      </div>
      <nav class="header__nav">

         <div class="menu">
            <div id="menu__wrap" class="menu__wrap flex">
               <span></span>
               <span></span>
               <span></span>
            </div>
         </div>

         <ul class="navigate flex scale-0">
            <li class="navigate__item">
               <a href="#">Home</a>
            </li>
            <li class="navigate__item">
               <a href="#">Pages</a>
            </li>
            <li class="navigate__item">
               <a href="#">Features</a>
            </li>
            <li class="navigate__item">
               <a href="#">Extensions</a>
            </li>
            <li class="navigate__item">
               <a href="#">Tutorials</a>
            </li>
            <li data-contact="yes" class="navigate__item">
               <a id="contactUs" href="#">Contact us</a>
            </li>
         </ul>
      </nav>
      <div class="header__links">
         <ul class="links flex">
            <li class="links__link">
               <a target="_blank" href="#">
                  <i class="fab fa-facebook-f"></i>
               </a>
            </li>
            <li class="links__link">
               <a target="_blank" href="#">
                  <i class="fab fa-twitter"></i>
               </a>
            </li>
            <li class="links__link">
               <a target="_blank" href="#">
                  <i class="fab fa-skype"></i>
               </a>
            </li>
            <li class="links__link">
               <a target="_blank" href="#">
                  <i class="fab fa-linkedin-in"></i>
               </a>
            </li>
         </ul>
      </div>
   </div>
   <div class="container tac">
      <div class="header__title ttu">
         <h1 class="header__h1 animate" data-animate="fadeInLeft">Creatives</h1>
      </div>
      <div class="header__subtitle ttu">
         Power by PSDfreebies.com
      </div>
      <div class="header__scroll">
         <a href="#we-are">
            Scroll Down
            <span class="header__arrow">
               <i class="fas fa-chevron-down"></i>
            </span>
         </a>
      </div>
   </div>
</header>